.links{
    display:flex;
    flex-direction:column;
    gap:12px;
    margin-top:20px;
}

.links a{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#fff;
    color:#111;
    text-decoration:none;
    padding:15px 18px;
    border-radius:14px;
    font-size:16px;
    font-weight:600;
}

/* TEXTO CENTRAL */
.texto{
    width:100%;
    text-align:center;
}

/* ÍCONE NO CANTO ESQUERDO */
.icon-left{
    position:absolute;
    left:14px;
    top:50%;
    transform:translateY(-50%);
    font-size:24px;
    width:24px;
    text-align:center;
}

/* CORES REAIS */
.instagram{
    color:#E4405F !important;
}

.whatsapp{
    color:#25D366 !important;
}

.facebook{
    color:#1877F2 !important;
}

.xreal{
    color:#000 !important;
}
